<div class="collections-link-list">
  <div class="page-width">
    <ul>
      {%- for block in section.blocks -%}
        <li>
          <a href="{{ block.settings.collection.url }}" class="collection-page-link full-unstyled-link">
            {{- block.settings.collection.title -}}
          </a>
        </li>
      {%- endfor -%}
    </ul>
    <select class="dropdown-menu">
      {%- for block in section.blocks -%}
        <option value="{{ block.settings.collection.url }}">{{ block.settings.collection.title }}</option>
      {%- endfor -%}
    </select>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.addEventListener('click', function (event) {
      if (event.target.matches('.collection-page-link')) {
        event.preventDefault();
        var url = event.target.getAttribute('href');
        fetchPage(url);
      }
    });
    function attachDropdownEventListener() {
      var dropdownMenu = document.querySelector('.dropdown-menu');
      dropdownMenu.addEventListener('change', function () {
        var url = this.value;
        fetchPage(url);
      });
    }
    attachDropdownEventListener();
    function fetchPage(url) {
      fetch(url)
        .then((response) => response.text())
        .then((html) => {
          document.getElementById('main-body').innerHTML = html;
          window.history.pushState({ path: url }, '', url);
          attachDropdownEventListener();
          var dropdownMenu = document.querySelector('.dropdown-menu');
          var options = dropdownMenu.options;
          for (var i = 0; i < options.length; i++) {
            if (options[i].value === url) {
              options[i].selected = true;
              break;
            }
          }
        })
        .catch((error) => console.error('Error:', error));
    }
  });
</script>
{% schema %}
{
  "name": "Collection Tabs",
  "settings": [],
  "blocks": [
    {
      "type": "blocks",
      "name": "Content",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Select collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection Tabs"
    }
  ]
}
{% endschema %}
